<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        
        <link rel="stylesheet" th:href="@{../css/style.css}">
        <link rel="stylesheet" th:href="@{../css/style_board.css}">
    <title>게시판 | 가화만사성</title>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="nav__logo">
            <i class="fas fa-mug-hot"></i>
            <a href="/">가화만사성</a>
        </div>
        <ul class="nav__menu">
            <li><a href="">공지사항</a></li>
            <li><a href="">게시판</a></li>
            <li><a href="">마켓</a></li>
            <li><a href="">급식소 찾기</a></li>
        </ul>
        <ul class="nav__account">
            <li><a href="">계정만들기</a></li>
            <li><a href="">로그인</a></li>
        </ul>

        <a href="#" class="nav__toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>

    <!-- Board List -->
    <div class="board_list">
        <section class="board_list__headerAndSearch">
            <a href="" class="board_list__header">게시판</a>
            <div class="board_search">
                <input type="text" class="board_list__search">
                <i class="fas fa-search"><a href="" class="search_btn">검색</a></i>
            </div>
        </section>
        <section class="board_list__content">
            <ul>
                <li class="board_list_li">
                    <div class="li__heart">
                        <i class="fas fa-heart"></i>
                        <span class="board_heart">34</span>
                    </div>
                    <div class="li__thumbnail">
                        <img src="../img/thumbnail.jpg" alt="">
                    </div>
                    <div class="li__info">
                        <span class="info__titleAndcomment_cnt">
                            <a href="" class="info__title">게시글 제목입니다. 하나둘셋</a> [<a class="info__comment_cnt">24</a>]</span>
                        <span class="info__dateAndnickname"><a href="" class="__date">20:31</a> / <a href=""
                                class="__nickname">할렐루야</a></span>
                    </div>
                </li>
            </ul>
        </section>
        <a href="/board/new" style="color: black;">게시글작성</a>
    </div>

</body>
<script type="text/javascript" src="/js/main.js"></script>

</html>