<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body style="position: relative; width: 100%; height: 100%;">
    <main>

        <div class="container" style="margin:100 auto; width: 1000;">
            <br><br><br>
            <h2 class="font-weight-bold">게시판</h2>
            <br>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width:5%">#</th>
                        <th style="width:10%">작성자</th>
                        <th style="width:60%" class="text-center">제목</th>
                        <th style="width:10%">작성일</th>
                        <th style="width:10%">조회수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="lists : ${list}">

                        <td th:text="${lists.id}"></td>
                        <td th:text="${lists.member.nickname}">ㅇㅇ</td>
                        <td class="text-left">
                            <a style="text-decoration:none; color:black;"
                                th:href="@{/board/{id}/detail (id=${lists.id})}" th:text="${lists.title}"></a>
                        </td>
                        <td th:if="${lists.updatedAt == null}"
                            th:text="${#temporals.format(lists.createdAt, 'MM.dd HH:mm')}">ㅇ
                        </td>
                        <td th:if="${lists.updatedAt != null}"
                            th:text="${#temporals.format(lists.updatedAt, 'MM.dd HH:mm')}"></td>
                        <td th:text="${lists.viewCnt}">ㅇ</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${startPage == list.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" th:href="@{/board/list(page=${list.pageable.pageNumber - 1})}" tabindex="-1">Previous</a>
            </li>
            <li class="page-item" th:classappend="${num == list.pageable.pageNumber + 1} ? 'active'" th:each="num : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" th:href="@{/board/list(page=${num-1})}" th:text="${num}">1</a></li>

            <li class="page-item" th:classappend="${endPage == list.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" th:href="@{/board/list(page=${list.pageable.pageNumber + 1})}">Next</a>
            </li>
        </ul>
    </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script>

    </script>
</body>

</html>