<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Document</title>
</head>
<body>
    <header>
        <h1>댓글에 댓글</h1>
    </header>
    <form method="post" th:object="${reCommentForm}" action="#">
        <div>
            <span>작성자..</span>
        </div>
        <div>
            <textarea cols="45" rows="9" placeholder="내용을 입력해주세요" th:field="*{content}"></textarea>
        </div>
        <div>
            <button type="submit">확인</button>
            <button type="reset">취소</button>
        </div>
    </form>
</body>
</html>