<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <title>Hello, world!</title>

</head>
<body>

<div class="container" style="margin:100 auto; width: 1000;">
    <br><br><br>
    <h2 class="font-weight-bold">무료급식소</h2>
    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th style="width:20%" class="text-center">시설명</th>
            <th style="width:25%" class="text-center">도로명주소</th>
            <th style="width:10%">전화번호</th>
            <th style="width:10%">급식대상</th>
            <th style="width:10%">급식시간</th>
            <th style="width:10%">급식요일</th>
            <th style="width:10%">운영종료일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sk : ${sk}">
            <td th:text="${sk.name}"></td>
            <td th:text="${sk.newAddress}">ㅇㅇ</td>
            <td th:text="${sk.phoneNumber}">ㅇ</td>
            <td th:text="${sk.target}"></td>
            <td th:text="${sk.time}">ㅇ</td>
            <td th:text="${sk.DoW}">ㅇ</td>
            <td th:text="${sk.endOperation}">ㅇ</td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>