<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->

</head>
<body>

<div>
<!--    <img th:src="@{${'img/' + file.filename}}" style="width:300px;height:auto;">-->
    <img th:src="@{/img/{filename} (filename=${file.filename})}" style="width:300px;height:auto;">
    <img th:src="@{D:\{filename} (filename=${file.filename})}" style="width:300px;height:auto;">



<!--    <img th:src="@{/images/프로보노상.jpg}" style="width:300px;height:auto;">-->
</div>

</body>
</html>