@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0%;
}
a{
    text-decoration: none;
    color: white;
    font-family: twayair;
}

ul {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}

.nav__logo {
    font-size: 24px;
}

.nav__logo i {
    color: #d49466
}

.nav__menu {
    display: flex;
    list-style: none;
    padding-left: 0%;
}

.nav__menu li {
    padding: 8px 12px;
}

.nav__account {
    display: flex;
    list-style: none;
}

.nav__account li {
    padding: 8px 12px;
}

.nav__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    top: 13px;
    color: #d49466;
    font-size: 24px;
}

.nav__menu > li:hover {
    background-color: #d49466;
    border-radius: 5%;
}


table {
    width:100%;
    border-top: 4px solid  #cccccc;
    border-collapse: collapse;
}
th, td {
    border-bottom: 1px, solid #444444;
    padding: 10px;
}
/* navbar dropdown */
.nav__dropdown{
    position: relative;
    display: inline-block;
}
.nav__dropbtn {
    font-size: 18px;
}
  .nav__dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    right: 0;
    left: auto;
  }
  
  .nav__dropdown_content a {
    font-size: 16px;
    color: #263747;
    padding: 13px 30px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .nav__dropdown_content a:hover {
      background-color: #f1f1f1;
      border-radius: 5px;
    }

  .nav__dropdown:hover .nav__dropdown_content {
    display: block;
    margin-left: auto;
  }

  .nav__account > li:hover {
    background-color: #d49466;
    border-radius: 5%;
}

.dropdown_divider {
    border-top: 1px solid #e9ecef;
}

.nav__media {
    display: none;
}

  /*  */




@media screen and (max-width: 768px){
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav__menu li {
        width: 100%;
        text-align: center;
    }

    .nav__account {
        display: none;
        padding-left: 0%;
        width: 100%;
        justify-content: center;
    }

    .nav__toggleBtn {
        display: block;
    }

    .nav__menu.active,
    .nav__account.active {
        display: flex;
    }

}