<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{../css/style.css}">
    <title>가화만사성</title>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="nav__logo">
            <i class="fas fa-mug-hot"></i>
            <a th:href="@{/}">가화만사성</a>
        </div>
        <ul class="nav__menu">
            <li><a href="">공지사항</a></li>
            <li><a href="">게시판</a></li>
            <li><a href="">마켓</a></li>
            <li><a href="">급식소 찾기</a></li>
        </ul>
        <ul class="nav__account">
            <li><a th:href="@{/members/new}">계정만들기</a></li>
            <li><a href="">로그인</a></li>
        </ul>

        <a href="#" class="nav__toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>


    <!-- BulletinBoard & NoticeBoard -->
    <section class="boards">
        <div class="board__bulletin">
            <div class="board_info">
                <a href="" class="bulletin__name">게시판</a>
                <button class="plus"><i class="fas fa-plus">더보기</i></button>
            </div>
            <table class="bulletin">
                <th class="bulletin_no">번호</th>
                <th class="bulletin_title">제목</th>
                <th class="bulletin_date">날짜</th>
                <colgroup>
                    <col style="width:10%">
                    <col style="width:80%">
                    <col style="width:10%">
                </colgroup>
                <tr>
                    <td>1</td>
                    <td>Test</td>
                    <td>06:47</td>
                </tr>
            </table>
        </div>

        <div class="board__notice">
            <div class="board_info">
                <a href="" class="bulletin__name">공지사항</a>
                <button class="plus"><i class="fas fa-plus">더보기</i></button>
            </div>
            <table class="notice">
                <th class="notice_no">번호</th>
                <th class="notice_title">제목</th>
                <th class="notice_date">날짜</th>
                <colgroup>
                    <col style="width:10%">
                    <col style="width:80%">
                    <col style="width:10%">
                </colgroup>
                <tr>
                    <td>1</td>
                    <td>Test</td>
                    <td>06:47</td>
                </tr>
            </table>
        </div>
    </section>

    <section class="marketNkitchen">

    </section>
</body>

<script type="text/javascript" src="/js/main.js"></script>

</html>