<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <!-- Modal -->

    <div class="modal-header">
<!--        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
        <span>읽지 않은 알림<span th:text="*{unreadCnt}"></span></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ul class="list-group list-group-flush" th:each="notices : ${notice}">
            <li class="list-group-item" th:if="${notices.getStatus().toString()} == 'COMMENT'">
                <span>
                    <a th:style="${notices.getConfirmation().toString()} == 'READ' ? 'color:gray':'color:black'" th:href="@{/notification/{id} (id=${notices.id})}" style="text-decoration: none;">
                        <span>
                            게시글 <span th:text="${notices.content}"></span>에 댓글이 달렸습니다.
                        </span>
                    </a>
                </span>
            </li>
            <li th:if="${notices.getStatus().toString()} == 'NOTICE'">
                <span>
                    <a th:href="@{{/notification/{id} (id=${notices.id})}" style="color: black; text-decoration: none;">
                        <span>
                            [공지사항]
                            <span th:text="${notices.content}"></span>
                        </span>
                    </a>
                </span>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>



    <div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>